<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<hr>

<h2>Add a comment</h2>
<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %><li>
    <% end %>
  </ul>
<% end %>
<%= form_for [@post, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <hr>
<% end %>
